<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplicationICS"
        tools:targetApi="31">
        <activity
            android:name=".ui.simulacroANA.Examen_Completado_2"
            android:exported="false" />
        <activity
            android:name=".BryanPantallaP"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Perfil_Registro_Lenny"
            android:exported="false" />
        <activity
            android:name=".Cuentas_Registro_Lenny"
            android:exported="false" />
        <activity
            android:name=".Daniel_restablecer_contrasena_1"
            android:exported="false" />
        <activity
            android:name=".Daniel_restablecer_contrasena_3"
            android:exported="false" />
        <activity
            android:name=".Daniel_restablecer_contrasena_2"
            android:exported="false" />
        <activity
            android:name=".JohnDavid"
            android:exported="false" />
        <activity
            android:name=".Estadistica_Lectura"
            android:exported="false" />
        <activity
            android:name=".Daniel_Inicio_Sesion_Usuario"
            android:exported="false" />
        <activity
            android:name=".Luis_Retos"
            android:exported="false" />
        <activity
            android:name=".Examen_Completado"
            android:exported="false" />
        <activity
            android:name=".Simulacro_Lectura_4"
            android:exported="false" />
        <activity
            android:name=".Simulacro_Lectura_3"
            android:exported="false" />
        <activity
            android:name=".Simulacro_Lectura_2"
            android:exported="false" />
        <activity
            android:name=".ui.simulacroANA.Simulacro_Lectura_1"
            android:exported="false" />
        <activity
            android:name=".StivenEvaluaciones"
            android:exported="false" />
        <activity
            android:name=".Ejercicios_practicos_Alejandro"
            android:exported="false" />
        <activity
            android:name=".MainActivitySirley_Simulacro"
            android:exported="false" />
        <activity
            android:name=".Alejandro_Aula_Invertida"
            android:exported="false" />
        <activity
            android:name=".MainActivity3victor"
            android:exported="false" />
    </application>

</manifest>