<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplicationICS"
        tools:targetApi="31">
        <activity
            android:name=".iu.login.Sobre_Nosotros"
            android:exported="false" />
        <activity
            android:name=".dashboarBB.MundosBB.bienvenida.Mundos_Competencia"
            android:exported="false" />
        <activity
            android:name=".iu.login.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".lenny_configuracion1.Lenny_Sugerencias"
            android:exported="false" />
        <activity
            android:name=".lenny_configuracion1.Lenny_Reporte"
            android:exported="false" />
        <activity
            android:name=".lenny_configuracion1.Lenny_Cerrarsesion"
            android:exported="false" />
        <activity
            android:name=".lenny_configuracion1.Lenny_Editarperfil"
            android:exported="false" />
        <activity
            android:name=".lenny_configuracion1.Lenny_Verperfil"
            android:exported="false" />
        <activity
            android:name=".lenny_configuracion1.Lenny_Perfil"
            android:exported="false" />
        <activity
            android:name=".dashboarBB.OrientacionV.TestVocacion_4"
            android:exported="false" />
        <activity
            android:name=".dashboarBB.OrientacionV.TestVocacion_3"
            android:exported="false" />
        <activity
            android:name=".dashboarBB.OrientacionV.TestVocacion_2"
            android:exported="false" />
        <activity
            android:name=".dashboarBB.OrientacionV.TestVocacion_1"
            android:exported="false" />
        <activity
            android:name=".Gamificacion_LUIS.Ruleta_LUIS"
            android:exported="false" />
        <activity
            android:name=".Stiven_Icfes3"
            android:exported="false" />
        <activity
            android:name=".Stiven_Icfes2"
            android:exported="false" />
        <activity
            android:name=".Stiven_Icfes"
            android:exported="false" />
        <activity
            android:name=".dashboarBB.MainActivity_pantallaP"
            android:exported="false" />
        <activity
            android:name=".ui.simulacroANA.Examen_Completado_2"
            android:exported="false" />
        <activity
            android:name=".iu.login.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Perfil_Registro_Lenny"
            android:exported="false" />
        <activity
            android:name=".Cuentas_Registro_Lenny"
            android:exported="false" />
        <activity
            android:name=".iu.login.Daniel_restablecer_contrasena_1"
            android:exported="false" />
        <activity
            android:name=".iu.login.Daniel_restablecer_contrasena_3"
            android:exported="false" />
        <activity
            android:name=".iu.login.Daniel_restablecer_contrasena_2"
            android:exported="false" />
        <activity
            android:name=".JohnDavid"
            android:exported="false" />
        <activity
            android:name=".Estadistica_Lectura"
            android:exported="false" />
        <activity
            android:name=".Gamificacion_LUIS.Luis_Retoss"
            android:exported="false" />
        <activity
            android:name=".Examen_Completado"
            android:exported="false" />
        <activity
            android:name=".StivenEvaluaciones"
            android:exported="false" />
        <activity
            android:name=".MainActivitySirley_Simulacro"
            android:exported="false" />
        <activity
            android:name=".bibliotecaV.MainActivity3victor"
            android:exported="false" />
        <activity
            android:name=".ui.simulacroANA.Simulacro_Lectura_1"
            android:exported="false" />

        <activity
            android:name=".iu.login.Inicio_Sesion_Principal"
            android:exported="false" />
    </application>

</manifest>